*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Actor,Open-sans,sans-serif;
}
body{
    margin: 0;

}

header{
    width: 1200px;
    margin: 50px;
}
nav{

    align-items: center;
    list-style-type: none;
    font-size: 18px;
    justify-content: flex-end;
    margin-top: 30px;
    padding-left: 250px;
}
nav a:hover{
    background-color: #ffffff;
    color: #5cada5;
    cursor: pointer;
    font-weight: bolder;
}

nav a{
    margin: 40px;
    color: black;
    text-decoration: none;

}
#home{
    text-transform: uppercase;
    color: #5cada5;
    font-weight: bold;
    font-size: 25px;
}

h1 {
    font-family: Actor, Open-sans, sans-serif;
    color: #5cada5;
}
/*home */
.intro {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex ;
    margin-right: 300px;
    padding-left: 360px;
    padding-right: 300px;
}

.intro-img-rechts img {
    max-width: 2000%;
    height: 680px;
   margin-top: -50px;
    padding-left: 90px;
}

.hoofdtitel-homepagina{
    font-size: 40px;
    font-weight: 700;
    font-family: Actor, sans-serif;
    color: black;
    line-height: normal;
    margin-left: -50px;
    margin-top: -60px;
}
.noortje-moelans-homepagina{
    font-size: 50px;
    font-family: Annie Use Your Telescope, sans-serif ;
    font-weight: lighter;
    color: #5cada5;
    margin-left: -50px;
}
.tekst-homepagina{
    font-size: 16px;
    margin-left: -50px;
}


  /*overmij */

    #image-rij{
        display: flex;
        padding-top:  100px;
        width: 1080px;
        height: 350px;
        margin-left: 150px;
        padding-bottom: -650px;
        margin-top: -40px;
        background-size: 5px;
    }
    #image-rij img {
        border-radius: 50px;
        padding: 20px;
        width: 35%;
    }
#intro-overmij{
    display: flex;
    width: 100%;
}
#linkerkant-overmij{
    float: left;
    margin-right: 50px;
    margin-top: 280px;
    font-size: 16px;
    padding-left: 300px;

}
#linkerkant-overmij p{
    margin: 15px;
    max-width: 20px;

}
#recherkant-overmij{
    float: right;
    width: 50%;
    padding-left: -90px;
    margin-right: -300px;
}
#profielfoto-overmij {
   max-width: 450px;
    margin-top: 30px;
    margin-right: 250px;
}
#homepagina-titel-overmij {
    margin-left: 100px;
    color: #5cada5;
    font-family: Annie Use Your Telescope, sans-serif;
    font-size: 60px;
    font-weight: 300;
    margin-top: -160px;
    max-width: 200px;
}
#skills-overmij{
    margin-top: 495px;
    margin-right: 300px;
    margin-left: -200px;
    font-size: 13px;

}
#skills-overmij h1{
    color: #5cada5;
    font-size: 20px;

}
#skills-overmij h2{
    color: #5cada5;
    font-size: 18px;
}
#skills-overmij li{
    padding-top: -50px;
   font-size: 14px;
     margin: 5px;
}

footer{
    max-width: 200px;
    height: 200px;
    padding-top: 50px;
}
#gegevens-links-overmij{
    float: left;
    margin-left: 500px;
    margin-right: -370px;
    width: 300px;
    font-size: 18px;
    color: #5cada5;
    font-weight: bolder;
    padding-top: 3px;

}
#gegevens-rechts-overmij{
    float: right;
    margin-left: 60px;
    margin-right: -840px;
    width: 300px;
    font-size: 18px;
    color: #5cada5;
    font-weight: bolder;
}
footer li a{
    text-decoration: none;
    color: #5cada5;
}
#hallo-overmij{
    font-family: open sans,sans-serif ;
    color: black;
    }




/*werkplekleren 1 */

.intro-werkplekleren{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-right: 300px;
    padding-left: 400px;
    padding-right: 300px;
    padding-top: 20px;
}
#homepagina-titel-wpl{
    margin-left: 200px;
    color: #000000;
    font-family: Annie Use Your Telescope, sans-serif;
    font-size: 60px;
    font-weight: 300;
  padding-top: 120px;
    padding-bottom: 70px;

}
#opdrachten-rechts-wpl{
    float: right;
    padding-right: 500px;
    color: #5cada5;
    font-size: 20px;
    padding-left: -20px;
    text-decoration: none;
}
#bestanden-opdrachten-linkerkant a{
    text-decoration: none;
    color: #5cada5;
    font-size: 16px;
}

#bestanden-opdrachten-linkerkant{
    float: left;
    margin-left: 450px;
    padding-top: -200px;
    color: #5cada5;
    font-size: 20px;

}
#bestanden-typo-links{
    float: left;
    margin-left: 700px;
    padding-top: 90px;
    color: #5cada5;
    font-size: 16px;

}
 #opdrachten-rechts-wpl p {
     font-size: 15px;
 }
#opdrachten-font-rechts{
    color: #ffffff;
    font-family: Actor,sans-serif;
    font-size: 23px;
    font-weight: normal;
    border-radius: 5px;
    background: #5cada5;
    padding-left: 20px;
    text-transform: uppercase;
}
#bestanden-font-links{
    color: #ffffff;
    font-family: Actor,sans-serif;
    font-size: 23px;
    font-weight: normal;
    border-radius: 5px;
    background: #5cada5;
    padding-left: 20px;
    text-transform: uppercase;

}

#pop-opdrachten-titel{
    font-family: Annie Use Your Telescope,sans-serif;
    color: #5cada5;
    margin-left: 620px;
    font-size: 48px;
    font-weight: lighter;
    padding-top: 600px;
}
#reflecteren-algemeen{
    float: left;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
    margin-right: 500px;
    margin-top: 100px;
}
#reflecteren-algemeen p{
    font-size: 15px;
}
#reflecteren-algemeen h1{
    font-size: 20px;
    text-transform: uppercase;
}
#reflecteren-algemeen h3{
    font-size: 15px;
    text-transform: uppercase;

}
#reflecteren-titel-wpl{
    font-size: 25px;
    text-transform: uppercase;

}
#foto-spiraal-kortenhaag{
    width: 110%;
    padding-left: 50px;
    padding-top: 60px;
    padding-bottom: 20px;
}
/*reflecteren */

#kernwaarden-algemeen{
    float: left;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    margin-right: 800px;
    margin-top: 100px;
}
#kernwaarden-algemeen p{
    font-size: 15px;
}
#kernwaarden-algemeen h3 {
    font-size: 15px;
    text-transform: uppercase;
}
#kernwaarden-algemeen h1 {
    font-size: 20px;
    text-transform: uppercase;

}
#kernwaarden-wpl-titel{
    font-size: 20px;
    text-transform: uppercase;
}
#foto-kernwaarden{
    float: right;
    width: 30%;
    margin-top: -600px;
    margin-right: 190px;
}
/*kernwaarden */



/*personal branding */
#personalbranding-algemeen{
    float: left;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    margin-left: 300px;
    margin-right: 800px;
    color: #000000;
}
#personalbranding-algemeen p{
    font-size: 15px;
}
#personalbranding-algemeen h1{
    font-size: 25px;
    text-transform: uppercase;
}
#personalbranding-foto{
    float: right;
    width: 25%;
    margin-right: 300px;
    margin-top: -450px;
}

#titel-personal-branding{
   font-weight: bolder;
    font-size: 30px;
}
/*personal branding */

/*reflectieopdracht*/
#reflectieopdracht-algemeen{
    float: left;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 500px;
    margin-right: 400px;
}
#reflectieopdracht-algemeen p{
    font-size: 15px;
}
#reflectieopdracht-algemeen h3{
    font-size: 15px;
    text-transform: uppercase;
}
#werkveld-reflectie-titel{
    font-family: Annie Use Your Telescope,sans-serif;
    color: #000000;
    margin-left: 500px;
    font-size: 48px;
    font-weight: lighter;
    padding-top: 2800px;
}
#titel-reflectie{
    font-size: 25px;
    text-transform: uppercase;
}

/*reflectieopdracht*/

/*eindreflectieopdracht */

#eindreflectie-algemeen{
    margin-top: 180px;
    margin-left: 550px;
    margin-right: 500px;
}
#eindreflectie-hoofdtitel{
    font-family: Annie Use Your Telescope,sans-serif;
    color: #2599AE;
    margin-left: 200px;
    margin-top: -200px;
    font-size: 48px;
    font-weight: lighter;
    padding-top: 200px;
    padding-bottom: 150px;
}
#hartje{
    width: 25%;
    margin-left: 700px;
    margin-top: 150px;
}
#bollen-voormij-werklplekleren-reflectie-footer{
    width: 100%;
    height: 20%;
    margin-top: 130px;
}
#ondertitel-eindreflectie{
    color: #2599AE;
}
/*eindreflectieopdracht */

/*Mijn-werk */

#allesvan-mijnwerk-algemeen{
    width: 100%;
    overflow-x: hidden;;
    font-size: 18px;
}

#Mijnwerk-algemeen{
    float: left;
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 600px;
}
.mijnwerk-titel{
    padding-left: 200px;
    color: #5cada5;
    font-family: Annie Use Your Telescope, sans-serif ;
    font-size: 60px;
    font-weight: 590;
   padding-top: 50px;

}

#bm-nomo-foto{
    float: left;
    margin-right: 200px;
    margin-top: 150px;
    margin-left: -150px;
    width: 90%;
}
#tekst-bm-nomo {
    float: right;
    margin-top: -400px;
    margin-left: 400px;
    margin-right: -200px;
}
#tekst-bm-nomo p{
    font-size: 15px;
}
#Initalen-logoopdracht-titel{
    color: #000000;
    font-size: 25px;
    text-transform: uppercase;

}
#fontfolio-algemeen {
    float: left;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 1000px;
}
#fontfolio-algemeen p{
    font-size: 15px;
    margin-left: 100px;
    margin-right: -200px;
}

#fontfolio-foto{
    float: right;
    width: 150%;
    margin-top: -10px;
    margin-right: -800px;
    margin-left: 200px;

}
#fontfolio-titel{
    margin-left: 100px;
    color: #000000;
    font-size: 25px;
    text-transform: uppercase;
}

#grote-tattoo{
    float: right;
    width: 35%;
    margin-top: 200px;
    margin-right: 180px;
    margin-left: 200px;

}
#kleine-tattoo{
    width: 26%;
    margin-top: 60px;
    margin-left:900px;

}
#tekst-tattoo{
    font-size: 15px;
    float: left;
    align-items: center;
    justify-content: center;
    margin-top: -500px;
    margin-left: 200px;
    margin-right: 1000px;
    padding-top: 100px;
}
#tekst-tattoo p{
    font-size: 15px;
    margin-left: 100px;
    margin-right: -200px;
}

#tattoo-titel{
    color: #000000;
    font-size: 25px;
    text-transform: uppercase;
    padding-left: 100px;
}
#foto-nomo{
    float: left;
    margin-right: 200px;
    margin-top: 150px;
    margin-left: 280px;
    width: 30%;
}
#tekst-van-nomo{
    float: right;
    margin-top: -450px;
    padding: 5px;
    margin-left: 900px;
    margin-right: 200px;
}
#tekst-van-nomo p{
    font-size: 15px;
}
#Nomo-titel-logo{
    color: #000000;
    font-size: 25px;
    text-transform: uppercase;

}

#titel-clearview{
    float: left;
   padding-top: 300px;
    margin-left: 350px;
    margin-right: 1000px;
    color: #000000;
    font-size: 25px;
    text-transform: uppercase;

}

#foto-clearview{
    width: 25%;
    margin-top: -220px;
    margin-left:900px;
    padding-bottom: 20px;
}
#tekst-clearview{
    font-size: 15px;
    float: left;
    align-items: center;
    justify-content: center;
    margin-top: -450px;
    padding-left: 350px;
    margin-right: 750px;
    padding-top: 100px;

}

/*Mijn-werk */
/*javascript */
.pop-up{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5cada5;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.1);
    z-index: 1;
}
.popup-content{
    text-align: center;
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
button{
    padding: 10px;
    font-size: 15px;
    background-color: #5cada5;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #ffffff;
    margin-left: -50px;
}
#showpopup{
    margin-left: 700px;
}
#button-algemeen{
    margin-top: -150px;
    color: #000000;
    margin-left: -190px;
    font-size: 15px;
}




/*javascript */




@media (min-width:  600px) {
    p{
        font-size: 1.25rem;
    }
}
@media (max-width: 600px) {
    h3 {
        font-size: 10px;
    }
}
@media (max-width: 600px)  #allesvan-mijnwerk-algemeen{

}

@media (max-width: 600px).intro {

}
@media (max-width: 600px) .intro-werkplekleren{

}

@media (max-width: 600px) #algemeen-arbeidersmarkt{

}
@media (max-width: 600px) #fontfolio-algemeen{

 }
@media screen and (min-width: 80rem) {
    .container {
        margin: 1em 2em;
    }
}
@media screen and (max-width:1024px) {
    .intro-werkplekleren{

    }
    .intro{

    }
}
{

}